*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Rethink Sans';
  src: url('/assets/fonts/RethinkSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'Rethink Sans Italic';
  src: url('/assets/fonts/RethinkSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
body {
  font-family: 'Rethink Sans', Arial, Helvetica, sans-serif;
}
p {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  line-height: 1.5rem; /* 24px */
}
.subtile {
  margin: 0rem;
  padding: 0rem;
  list-style-type: none !important;
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600;
}
.task-details {
  margin-bottom: 1rem;
}
.projects {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}
.projects > div {
  margin-bottom: 2rem;
}
.pannel {
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: white;
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.pannel-container {
  overflow: hidden;
  border-radius: 1rem;
  background-color: white;
  list-style-type: none;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.pannel-container p:first-of-type {
  margin: 0rem;
  padding: 0rem;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 700;
  color: #030712;
}
.pannel-container p:last-of-type {
  margin: 0rem;
  padding: 0rem;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.025em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  opacity: 0.8;
  color: #1f2937;
}
.pannel-container a {
  margin-top: 0.5rem;
  padding: 0rem;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  text-transform: none;
  color: #374151;
}

@media (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 70rem) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
  main {
    max-width: 1280px;
    margin: 0rem auto;
  }
}
