*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
@font-face {
  font-family: "Instrument Sans";
  src: url("/assets/fonts/InstrumentSans-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Instrument Sans Italic";
  src: url("/assets/fonts/InstrumentSans-Italic-VariableFont.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
textarea,
button,
select {
  font-family: inherit;
}
body {
  min-height: 100vh;
  font-family: "Instrument Sans", Arial, Helvetica, sans-serif;
  background-color: #f1f5f9;
}
em {
  font-family: "Instrument Sans Italic", Arial, Helvetica, sans-serif;
  font-style: italic;
}

/*   
  ============================================================ 
    End of Stylesheet Reset
  ============================================================
*/
.navbar {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.navbar-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.navbar-container-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.navbar-container-top-left {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 1rem;
}
.navbar-container-top-left input[type="search"] {
  width: 75%;
  padding: 0.25rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid #e5e7eb;
  background-color: #e5e7eb;
}
.navbar-container-top-right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3rem;
}
.navbar-container-top-right img {
  width: 1.25rem;
  height: 1.25rem;
}
.navbar-container-top-right .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.navbar-container-top-right .user-avatar {
  width: 3rem;
  height: 3rem;
  background-color: #e5e7eb;
  border-radius: 99rem;
}
.navbar-container-top-right .user-info {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: 500;
}
main {
  padding: 2.25rem 2rem;
}
h2 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  letter-spacing: 0.0125em;
  font-weight: 600;
}
.user-content {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.user-content-projects {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.invidual-project {
  border-left: 0.35rem solid #fcd34d;
  padding: 2rem 1rem;
  border-radius: 0.5rem; /* 8px */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.invidual-project h3 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 500;
  color: #020617;
  letter-spacing: 0.025em;
}
.invidual-project p {
  line-height: 1.25rem; /* 20px */
  font-size: 0.875rem; /* 14px */
  color: #475569;
  letter-spacing: 0.0125em;
}
.invidual-project span {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: end;
}
.invidual-project span img {
  width: 1.25rem;
  height: 1.25rem;
  fill: #475569;
  opacity: 0.6;
}
@media (min-width: 1280px) {
  .user-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .user-content-projects {
    grid-column: span 2;
    grid-row: span 2;
  }
  .user-content-projects h2 {
    grid-column: span 2;
  }
  .user-content-projects {
    grid-row: span 2;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
