*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
@font-face {
  font-family: "Instrument Sans";
  src: url("/assets/fonts/InstrumentSans-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Instrument Sans Italic";
  src: url("/assets/fonts/InstrumentSans-Italic-VariableFont.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
textarea,
button,
select {
  font-family: inherit;
}
body {
  min-height: 100vh;
  font-family: "Instrument Sans", Arial, Helvetica, sans-serif;
  background-color: #f1f5f9;
}
em {
  font-family: "Instrument Sans Italic", Arial, Helvetica, sans-serif;
  font-style: italic;
}

/*   
  ============================================================ 
    End of Stylesheet Reset
  ============================================================
*/
body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.sidebar {
  display: none;
  background-color: lightblue;
}
main header {
  min-height: 10vh;
  background-color: palevioletred;
}
main section {
  min-height: 90vh;
  background-color: palegreen;
}

@media (min-width: 1080px) {
  body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    min-height: 100vh;
  }
  .sidebar {
    display: block;
  }

  main {
    grid-column: span 7;
  }
  main header {
    width: 100%;
    padding: 1rem;
    min-height: 10vh;
  }
  main section {
    padding: 1rem;
    width: 100%;
    padding: 1rem;
    min-height: 90vh;
  }
}
