*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  --neutral-50: rgb(250 250 250);
  --neutral-100: rgb(245 245 245);
  --neutral-200: rgb(229 229 229);
  --neutral-300: rgb(212 212 212);
  --neutral-400: rgb(163 163 163);
  --neutral-500: rgb(115 115 115);
  --neutral-600: rgb(82 82 82);
  --neutral-700: rgb(64 64 64);
  --neutral-800: rgb(38 38 38);
  --neutral-900: rgb(23 23 23);
  --neutral-950: rgb(10 10 10);
  --sky-50: rgb(240 249 255);
  --sky-100: rgb(224 242 254);
  --sky-200: rgb(186 230 253);
  --sky-300: rgb(125 211 252);
  --sky-400: rgb(56 189 248);
  --sky-500: rgb(14 165 233);
  --sky-600: rgb(2 132 199);
  --sky-700: rgb(3 105 161);
  --sky-800: rgb(7 89 133);
  --sky-900: rgb(12 74 110);
  --sky-950: rgb(8 47 73);
}
@font-face {
  font-family: "Instrument Sans";
  src: url("/assets/fonts/InstrumentSans-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Instrument Sans Italic";
  src: url("/assets/fonts/InstrumentSans-Italic-VariableFont.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
textarea,
button,
select {
  font-family: inherit;
}
body {
  min-height: 100vh;
  font-family: "Instrument Sans", Arial, Helvetica, sans-serif;
  background-color: #f1f5f9;
}
em {
  font-family: "Instrument Sans Italic", Arial, Helvetica, sans-serif;
  font-style: italic;
}

/*   
  ============================================================ 
    End of Stylesheet Reset
  ============================================================
*/
body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.sidebar {
  display: none;
  background-color: #0ea5e9;
}
.sidebar {
  display: none;
  background-color: #0ea5e9;
}
.sidebar .sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sidebar .sidebar-container .sidebar-container-pannel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}
.sidebar
  .sidebar-container
  .sidebar-container-pannel
  .sidebar-container-pannel-logo-icon {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(1);
}

.sidebar
  .sidebar-container
  .sidebar-container-pannel
  .sidebar-container-pannel-logo-text {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600;
  color: #fafafa;
}
.sidebar
  .sidebar-container
  .sidebar-container-pannel
  .sidebar-container-pannel-text {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600;
  color: #fafafa;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.sidebar .sidebar-container .sidebar-container-pannel:hover {
  cursor: pointer;
  opacity: 0.7;
  background-color: #0284c7;
}

.sidebar
  .sidebar-container
  .sidebar-container-pannel
  .sidebar-container-pannel-icon {
  width: 1.25rem;
  height: 1.25rem;
  filter: invert(1);
}

.sidebar
  .sidebar-container
  .sidebar-container-pannel
  .sidebar-container-pannel-text {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 600;
  color: #fafafa;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 1.25rem 1rem;
}
.navbar-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.navbar-container-top-pannel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.navbar-container-top-pannel form {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 100%;
}
.navbar-container-top-pannel form input[type="search"] {
  display: block;
  padding: 0.375rem 1rem;
  background-color: #cbd5e1;
  border: 1px solid #cbd5e1;
  width: 100%;
  color: #111827;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.75rem;
}
.navbar-container-top-pannel .user {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
.navbar-container-top-pannel .user .user-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 99rem;
  background-color: #f1f5f9;
}
.navbar-container-top-pannel .user .user-name {
  display: none;
}
/* Eng of Navbar Top Pannel */
.navbar-container-bottom-pannel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.navbar-container-bottom-pannel .user {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}
.navbar-container-bottom-pannel .user .user-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 99rem;
  background-color: #f1f5f9;
}
.navbar-container-bottom-pannel .user .user-info {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.navbar-container-bottom-pannel .user .user-info p:first-of-type {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 800;
  letter-spacing: 0.025em;
}
.navbar-container-bottom-pannel .user .user-info p:last-of-type {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 800;
  letter-spacing: 0.025em;
}
.navbar-container-bottom-pannel .actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}
.navbar-container-bottom-pannel .actions button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 99rem;
  height: 2.75rem;
  color: hsl(204, 100%, 97%);
  background-color: hsl(200, 98%, 39%);
  border: 1px solid hsl(200, 98%, 39%);
}
.navbar-container-bottom-pannel .actions button:hover {
  cursor: pointer;
  background-color: hsla(200, 98%, 39%, 0.8);
  border: 1px solid hsla(200, 98%, 39%, 0.8);
}
/*   
  ============================================================ 
    End of Navbar
  ============================================================
*/
main section {
  min-height: 90vh;
  padding: 1rem;
}
.content {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
}
.content .projects h2 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 500;
  margin-bottom: 1rem; /* 288px */
}
.content .projects .projects-wrapper > div {
  border-left: 4px solid #fbbf24;
  background: #fafafa;
  border-radius: 0.375rem; /* 6px */
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  padding: 1.25rem 1rem; /* 16px top and bottom, 20px left and right */
  gap: 0.25rem;
}
.content .projects .projects-wrapper > div > h2 {
  border-left: 4px solid #fbbf24;
  background: #fafafa;
  border-radius: 0.375rem; /* 6px */
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  padding: 1.25rem 1rem; /* 16px top and bottom, 20px left and right */
  gap: 0.25rem;
}
.content > .projects > .projects-wrapper > div > h3 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.025em;
  font-weight: 600;
}
.content > .projects > .projects-wrapper > div > p {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.025em;
  color: rgb(51 65 85);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.content > .projects > .projects-wrapper > div > span {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.875rem;
}
.content > .projects > .projects-wrapper > div > span > img {
  width: 1.25rem;
  height: 1.25rem;
  opacity: 0.5;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.content > .projects > .projects-wrapper > div > span > img:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* End of Projects section inside content  */

.content .announcements h2 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 500;
  margin-bottom: 1rem; /* 288px */
}

/* End of announcements section inside content  */

.content .trending h2 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 500;
  margin-bottom: 1rem; /* 288px */
}

/* End of trending section inside content  */

.announcements .announcements-container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem; /* 4px */
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.announcements .announcements-container .announcements-pannel {
  background-color: #fff;
}
.announcements .announcements-container > div:first-of-type {
  border: transparent;
  padding: 0rem 1rem 1rem 1rem;
}
.announcements .announcements-container > div {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.announcements .announcements-container div p:first-of-type {
  border-top: transparent;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-weight: 600;
}
.announcements .announcements-container > div p:last-of-type {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  color: rgba(51 65 85, 0.3);
  letter-spacing: 0.025em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.trending .trending-container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem; /* 4px */
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.trending .trending-container .user:first-of-type {
  border-top: transparent;
}
.trending .trending-container .user {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0rem;
  border-top: 1px solid rgba(100, 116, 139, 0.3);
}
.trending .trending-container .user img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 99rem;
  background-color: #f1f5f9;
  object-fit: fill;
  object-position: center;
}
.trending .trending-container .user span {
  display: flex;
  flex-direction: column;
}
.trending .trending-container .user span p:first-of-type {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.025em;
  font-weight: 600;
}
.trending .trending-container .user span p:last-of-type {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.025em;
  color: #475569;
}
@media (min-width: 640px) {
  .navbar-container-top-pannel .user .user-name {
    display: block;
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    font-weight: 800;
  }
}
@media (min-width: 1080px) {
  body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    min-height: 100vh;
  }
  .sidebar {
    display: block;
  }

  main {
    grid-column: span 7;
  }
  main header {
    width: 100%;
    padding: 1rem;
    min-height: 10vh;
  }
  main section {
    width: 100%;
    min-height: 90vh;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .content .projects {
    grid-row: span 2;
    grid-column: span 3;
  }
  .content .projects .projects-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
