:root {
  /* Default Gray Colour Scheme */
  --shark-50: "#f5f5f6";
  --shark-100: "#e6e6e7";
  --shark-200: "#cfd0d2";
  --shark-300: "#aeafb2";
  --shark-400: "#85878b";
  --shark-500: "#696971";
  --shark-600: "#5a5b60";
  --shark-700: "#4d4d51";
  --shark-800: "#434347";
  --shark-900: "#3b3b3e";
  --shark-950: "#242426";
}
